.room {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.room > *:first-child {
  flex-shrink: 0;
}

.room-body {
  flex: 1;
  display: flex;
  overflow: hidden;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}


.editor-section {
  flex: 3;
  min-width: 0; 
  height: 100%;
  display: flex;
}


.chat-section {
  flex: 1.2;
  width: 400px;
  flex-shrink: 0;
  height: 100%;
  display: flex;
}