.navbar-full{
    display: flex;
    flex-direction: column;
    gap: 0px;

}

.navbar-top{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(135deg, #020617, #0B1120);
    align-items: center;
}

.navbar-logo{  
    cursor: pointer;    
    width: 120px;
    padding: 2rem; 
    margin-left: 2%;
    
}

.sign-in-button{
    padding-block: 1rem;
    padding-inline: 1.5rem;

    margin-right: 5%;

    border-radius: 999px;
    border-style: none;

    font-weight: 500;
    font-size: medium;

    background-color: #3B82F6;
    color: white;
    cursor: pointer;

    transition: all 0.2s ease;
}

.sign-in-button:hover{
    background-color: #1e70f4;
    transform: scale(1.05);
}

.navbar-bottom{
    background-color: #010b1b;
    display: flex;
    color: white;
    height: 3rem;
    gap: 2rem;
    align-items: center;
}

.navbar-bottom-options{
    margin: 1rem;
    cursor: pointer;
    margin-left: 2rem;
}

