.navbar-full{
    display: flex;
    flex-direction: column;
    gap: 0px;

}

.navbar-top{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(135deg, #020617, #0B1120);
    align-items: center;
}

.navbar-logo{  
    cursor: pointer;    
    width: 120px;
    padding: 2rem; 
    margin-left: 2%;

    pointer-events: inherit;
}

.sign-in-button{
    padding-block: 1rem;
    padding-inline: 1.5rem;

    margin-right: 5%;

    border-radius: 999px;
    border-style: none;

    font-weight: 500;
    font-size: medium;
}